<!doctype html>
<html>
  <%- include head -%>
  <body>
    <%- include topnav -%>
    <%- include hero -%>
    <%- include panel1 -%>
    <%- include footer -%>
    <%- include scripts -%>
  </body>
</html>