<!doctype html>
<html>
  <!-- Head -->
  <%- include head -%>
  <body>
    <!-- Nav -->
    <%- include nav -%>
    <!-- Hero Unit -->
    <%- include hero -%>
    <!-- Panel 1 -->
    <%- include panel1 -%>
    <!-- Panel 2 -->
    <%- include panel2 -%>
    <!-- Panel 3 -->
    <%- include panel3 -%>
    <!-- Panel 4 -->
    <%- include panel4 -%>
    <!-- Footer -->
    <%- include footer -%>
    <!-- Javascripts -->
    <%- include scripts -%>
  </body>
</html>
