<!doctype html>
<html>
  <!-- Head -->
  <%- include head -%>
  <body>
    <!-- Logo -->
    <a href='/'>
      <img src='images/logomark.svg' class='questionnaire-logomark'>
    </a>
    <!-- Progressbar -->
    <%- include progressbar -%>
    <!-- Questions -->
    <div class='questionnaire-container'>
      <div class='questionnaire-questions'>
        <%- include question1 -%>
        <%- include question2 -%>
        <%- include question3 -%>
        <%- include question4 -%>
        <%- include question5 -%>
      </div>
    </div>
    <!-- Questionnaire Footer -->
    <%- include nextback -%>
    <!-- Javascripts -->
    <%- include scripts -%>
  </body>
</html>
